.page{
    background:#eeeeee;
}
.page__hero-unit{
    background:#a3ca5f;
    margin-top:20px;
}
    .page__hero-unit h2{
        color:#fff;
    }
.page__nav{
    margin-top:40px;
}
.navbar--external{
    font-size:.9em;
}
