{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block hero_unit %}
<div class="jumbotron page__hero-unit">
    <h1>Welcome!</h1>
    <h2>Symfony2 Content Management Framework</h2>
</div>
{% endblock %}

{% block main %}
    <div class="row">
        {{ sonata_block_render({'name': '/cms/content/blocks/hero_unit'}) }}
    </div>
{% endblock %}
