{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block main %}
    <p>You can login as Admin using <em>admin/adminpass</em></p>

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("_demo_login_check") }}" method="post" role="form">
        <div class="row">
            <div class="form-group col-xs-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="_password" />
            </div>
        </div>

        <button type="submit" class="btn btn-default">Login</button>
    </form>
{% endblock %}
