{% extends "ExtendCMSBundle::base.html.twig" %}

{% block title %}Ошибка: {{ status_text }}{% endblock %}
{% block content %}
<p class="head">Ошибка</p>
Страницы с таким адресом не существует.
{% endblock %}
